#user-img {
    border-radius: 30%;
    max-width:400px;
    max-height:400px;
    height: auto;
    
}
.unit3 {
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #F5FFFD;
    width: 800px;
}

.unit3 h1 {
    margin: 20px;
}
.img-container {
    object-fit: cover;
    position: absolute;
    height: 300px;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    overflow: hidden;
}

.text-container {
    height:120px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
}

.button-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
}

.unit3_set_button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 85%;
    left: 50%;
}

.prev-btn{
    border: 0;
    outline: 0;
    box-shadow: none;
}

.next-btn{
    border: 0;
    outline: 0;
    box-shadow: none;
}

#name {
    margin-bottom: 10px;
    font-weight: bold;
}
#job {
    margin-bottom: 10px;
    color: aqua;
}